@CHARSET "ISO-8859-1";


body {
	background-image: url("https://wallpaperscraft.com/image/beach_sand_palm_trees_tropical_90404_1920x1080.jpg");
	background-color: #03939a;
}

h1 {
	text-align: center;
	text-shadow: 5px 5px black;
	
	color: #00c1ea;
	
	font-family: "Brush Script MT", cursive;
	font-size: 8em;
	margin: 0px;	
}

label,
button {
	display: block;
	margin-top: 15px;
}

.message {
	display: none;
}

#reservationForm {
	margin-top: 50px;
	margin-left: 150px;
	font-family: Georgia;
	font-style: italic;
	font-size: 30px;
	color: #4CAF50;
	font-weight: bold;
	text-shadow: 2.5px 2.5px black
}

button {
	background-color: #00c1ea;
	border: 3px;
	color: black;
	padding: 15px 50px;
	font-family: Georgia;
	font-style: italic;
	font-size: 20px;
	cursor:pointer;
	border-radius: 12px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
	background-color: #4CAF50;
    color: white;
}