@CHARSET "ISO-8859-1";


body {
	background-image: url("https://wallpaperscraft.com/image/beach_sand_palm_trees_tropical_90404_1920x1080.jpg");
	background-color: #03939a;
}

h1 {
	text-align: center;
	text-shadow: 5px 5px black;
	
	color: #f76402;
	
	font-family: "Brush Script MT", cursive;
	font-size: 8em;
	margin: 0px;	
}

.message {
	display: none;
}

table {
	margin-top: 30px;
	margin-left: 80px;	
	font-style: italic;
	font-family: Georgia;
	font-size: 25px;
	text-shadow: 2px 2px black;
	color: #fdbe00;
	word-spacing: 30px;
}

.action {
	color: #f76402;
	text-weight: bold;
}